.event-create-dialog {
  height: 95%!important;
  width: 300px;
}

.event-create-dialog.step0 {
  max-height: 350px!important;
}

.event-create-dialog.step1 {
  height: 95%;
  max-height: 500px!important;
}

.event-create-dialog span:has(textarea),
.event-create-dialog span:has(textarea):hover {
  border-bottom-color: #adadad;
  border-bottom-style: solid;
}

